<header class="np-pwa-header">
    <a href="{{ path('app_pwa_home') }}" class="np-pwa-header__logo">
        <img src="{{ asset('images/logo/nutripetit.svg') }}" alt="" class="np-pwa-header__logo-icon" width="36" height="36">
        <span>
            <span class="np-header__logo-nutri">Nutri</span><span class="np-header__logo-petit">Petit</span>
        </span>
    </a>
</header>
