parameters:
    level: 6
    paths:
        - src
        - tests
    excludePaths:
        - src/Kernel.php
        - tests/bootstrap.php
    ignoreErrors:
        -
            identifier: method.unresolvableReturnType
            path: tests/Functional/ScannerControllerTest.php