{% extends 'base/pwa.html.twig' %}
{% block title %}Historique - NutriPetit{% endblock %}
{% block body %}
<div class="np-container np-page-content">
    <h1 class="np-title-lg np-text-center">Historique</h1>
    <p class="np-text-body np-text-center">À développer en J12.</p>
</div>
{% endblock %}
