{% extends 'base/pwa.html.twig' %}
{% block title %}Trop de scans - NutriPetit{% endblock %}
{% block body %}
<div class="np-scan-error">
    <div class="np-scan-error__icon-wrapper">
        {{ ux_icon('lucide:timer', {class: 'np-scan-error__icon'}) }}
    </div>
    <h1 class="np-scan-error__title">Doucement&nbsp;!</h1>
    <p class="np-scan-error__message">Trop de scans en peu de temps. Patiente une minute avant de réessayer.</p>
    <div class="np-scan-error__actions">
        <a href="{{ path('app_pwa_home') }}" class="np-scan-error__btn np-scan-error__btn--ghost">
            Retour à l'accueil
        </a>
    </div>
</div>
{% endblock %}
